{
    "mcpServers": {
        "bit-bucket-server": {
            "type": "stdio",
            "command": "npx",
            "args": [
                "-y",
                "@tintinwinata/mcp-server-atlassian-bitbucket"
            ],
            "env": {
                "ATLASSIAN_USER_EMAIL": "your-email@example.com",
                "ATLASSIAN_API_TOKEN": "your-atlassian-api-token"
            }
        }
    }
}

